*.o
*~
.deps
.dirstamp
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
dialer/dialer
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile
Makefile.in
missing
stamp-h1
data/themes/*.edj
ofono-efl-*.tar.*
tizen/answer_daemon
tizen/answer_daemon.desktop
tizen/dialer.desktop
tizen/dialer_daemon
tizen/dialer_open
tizen/order
tizen/org.tizen.call.desktop
tizen/org.tizen.dialer.service
tizen/org.tizen.phone.desktop
